.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal {
	background-color: var(--color-primary);
	padding: 2rem;
	border-radius: 12px;
	width: 400px;
	max-width: 90%;
}

.modalForm label {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.modalForm input {
	padding: 0.5rem;
	margin-top: 0.3rem;
}

.modalButtons {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}
