.calendar {
	background-color: var(--color-primary);
	grid-column: 2 / 3;
	grid-row: 1 / 4;
	border-radius: 16px;
	padding: 20px;
}

.calendar h3 {
	font-size: 18px;
	margin: 10px 0;
}

.month {
	font-weight: bold;
	margin-bottom: 15px;
}

.calendar :global(.rbc-calendar) {
	background-color: var(--color-primary);
	overflow: hidden;
	font-family: "Inter", sans-serif;
}

.calendar :global(.rbc-toolbar) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
	margin-top: 10px;
}

.calendar :global(.rbc-toolbar .rbc-btn-group:first-child) {
	display: flex;
	/* gap: 6px; */
	margin-right: auto;
}

.calendar :global(.rbc-toolbar .rbc-btn-group:first-child button) {
	background-color: var(--color-light);
	border: none;
	padding: 6px 10px;
	border-radius: 8px;
	margin-left: 4px;
	cursor: pointer;
	font-size: 0.85rem;
	transition: all 0.2s ease;
}

.calendar :global(.rbc-toolbar .rbc-btn-group:first-child button:hover) {
	background-color: var(--color-primary-hover);
	color: white;
	transform: scale(1.05);
}

.calendar :global(.rbc-toolbar-label) {
	margin-left: auto;
	font-size: 1.1rem;
	font-weight: 600;
	text-align: right;
}

.calendar :global(.rbc-toolbar .rbc-btn-group:last-child button) {
	background-color: var(--color-light);
	border: none;
	padding: 6px 10px;
	border-radius: 8px;
	margin-left: 4px;
	margin-top: 10px;
	font-size: 0.85rem;
	transition: all 0.2s ease;
}

.calendar :global(.rbc-toolbar .rbc-btn-group:last-child button:hover) {
	background-color: var(--color-primary-hover);
	color: white;
	transform: scale(1.05);
}

.calendar :global(.rbc-event) {
	background-color: rgb(0, 171, 0);
	color: white;
	border-radius: 8px;
	padding: 2px 6px;
	font-size: 0.9rem;
}

.calendar :global(.rbc-today) {
	background-color: var(--color-primary-hover);
}

.calendar :global(.rbc-off-range-bg) {
	background-color: #777eff;
}

.upcoming {
	margin-top: 1rem;
}

.upcoming h3 {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
}

.eventList {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 0.9rem;
}

.eventCard {
	display: flex;
	align-items: center;
	background-color: #6366f1;
	color: white;
	border-radius: 1rem;
	padding: 0.5rem 1rem;
}

.dateBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 2rem;
	margin-left: 1rem;
}

.dayName {
	font-size: 0.9rem;
	font-weight: 500;
	opacity: 0.9;
}

.dayNumber {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1;
}

.infoBox {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.title {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 3px;
}

.subtitle {
	font-size: 0.9rem;
	opacity: 0.9;
	margin-bottom: 0.5rem;
}

.timeBox {
	background: white;
	color: black;
	font-weight: 700;
	padding: 0.3rem 1rem;
	border-radius: 0.6rem;
	display: inline-block;
	width: fit-content;
	font-size: 1rem;
}
