:root {
	--color-bg: #111;
	--color-text: #ffffff;
	--color-primary: #636cff;
	--color-primary-hover: #4f46e5;
	--color-secondary: #444;
	--color-light: #ffffff;
	--color-dark: #000000;

	--black-1: #242424;
	--black-2: #333;
	--black-3: #4d4d4d;
	--black-4: #5c5c5c;
}