.calendar {
	background-color: white;
	color: black;
	grid-column: 2 / 3;
	grid-row: 1 / 3;
	border-radius: 16px;
	padding: 20px;
}

.calendar h3 {
	font-size: 18px;
	margin-bottom: 10px;
}

.month {
	font-weight: bold;
	margin-bottom: 15px;
}

.appointment {
	font-size: 14px;
	color: #444;
}
