.mobileOverlay {
	display: none;
}

.detailsPanel {
	position: absolute;
	top: 0px;
	left: 100%;
	height: auto;
	width: 300px;
	background-color: var(--color-light);
	padding: 1rem;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	animation: slideIn 0.3s ease forwards;
	z-index: 40;
}

.detailsHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.detailsHeader h3 {
	color: black;
}

.detailsContent {
	overflow-y: auto;
}

.closeBtn {
	color: black;
	background-color: #f5f5f5;
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	font-size: 24px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.closeBtn:hover {
	background-color: var(--color-primary-hover);
	color: var(--color-light);
	transform: scale(1.1);
}

@keyframes slideIn {
	from {
		transform: translateX(-100px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInPhone {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@media (max-width: 992px) {
	.mobileOverlay {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 35;
	}

	.detailsPanel {
		position: fixed;
		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 40%;
		max-height: 80%;
		border-radius: 16px 16px 0 0;
		animation: slideInPhone 0.3s ease forwards;
		z-index: 45;
		overflow-y: auto;
	}

	.detailsContent {
		padding-bottom: 2rem;
	}
}
