.sidebar {
	width: 220px;
	background-color: var(--color-primary);
	border-radius: 16px;
	padding: 12px;
	margin: 12px 0 12px 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 0;
	position: relative;
}

.sidebarHeader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.burger {
	display: none;
	position: relative;
	background: none;
	border: none;
	color: white;
	font-size: 24px;
	cursor: pointer;
	z-index: 20;
}

.logo {
	font-size: 24px;
	font-weight: bold;
	margin: 2px auto 10px;
}

.menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.menu a {
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 16px;
	padding: 8px 12px;
	border-radius: 8px;
	transition: 0.3s;
}

.menu a:hover {
	background-color: var(--color-primary-hover);
	color: #fff;
}

@media (max-width: 768px) {
	.sidebar {
		width: 100%;
		margin: 0;
		border-radius: 0;
		padding: 15px;
	}

	.sidebar-header {
		justify-content: space-between;
	}

	.burger {
		display: block;
	}

	.menu {
		display: none;
		flex-direction: column;
		background-color: var(--color-primary);
		width: 100%;
		padding: 10px 0;
		position: absolute;
		top: 60px;
		left: 0;
		z-index: 10;
		border-radius: 0 0 10px 10px;
	}

	.menu.active {
		display: flex;
	}
}
