* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}
#root {
	display: flex;
	min-height: 100vh;
	background-color: #111;
	color: white;
	flex-direction: row;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: white;
}

button {
	cursor: pointer;
	font-family: inherit;
}
