@import "./styles/variables.css";
@import "./styles/main.css";

.main {
	flex: 1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 0.9fr 0.7fr 1fr;
	gap: 20px;
	padding: 20px;
}

.card {
	background-color: var(--color-primary);
	border-radius: 16px;
	padding: 20px;
}

.big-box {
	grid-column: 1 / 2;
}
.small-box {
	grid-column: 2 / 3;
}

@media (max-width: 1024px) {
	.main {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.welcome {
		order: 1;
	}

	.contact {
		order: 2;
	}

	.calendar {
		order: 3;
	}

	.big-box {
		order: 4;
	}

	.small-box {
		order: 5;
	}

	.big-box,
	.small-box {
		min-height: 200px;
		width: 100%;
	}
}

@media (max-width: 768px) {
	body {
		flex-direction: column;
	}

	.main {
		padding: 10px;
		gap: 10px;
	}
}
