@import "./styles/variables.css";
@import "./styles/main.css";

dialog::backdrop {
	background: rgba(0, 0, 0, 0.6);
}

.main {
	flex: 1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 0.7fr 1fr 2fr;
	gap: 12px;
	padding: 12px;
}

.card {
	background-color: var(--color-primary);
	border-radius: 16px;
	padding: 20px;
}

.smallBox {
	grid-column: 2 / 3;
}

@media (max-width: 1024px) {
	.main {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.welcome {
		order: 1;
	}

	.contact {
		order: 2;
	}

	.calendar {
		order: 3;
	}

	.bigBox {
		order: 4;
	}

	.smallBox {
		order: 5;
	}

	.bigBox,
	.smallBox {
		min-height: 200px;
		width: 100%;
	}
}

@media (max-width: 768px) {
	body {
		flex-direction: column;
	}

	.main {
		padding: 10px;
		gap: 10px;
	}
}
