/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/styles/variables.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
:root {
	--color-bg: #111;
	--color-text: #ffffff;
	--color-primary: #636cff;
	--color-primary-hover: #4f46e5;
	--color-secondary: #444;
	--color-light: #ffffff;
	--color-dark: #000000;

	--black-1: #242424;
	--black-2: #333;
	--black-3: #4d4d4d;
	--black-4: #5c5c5c;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/styles/main.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	background-color: #111;
	color: white;
	flex-direction: row;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	color: white;
}

button {
	cursor: pointer;
	font-family: inherit;
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
dialog::backdrop {
	background: rgba(0, 0, 0, 0.6);
}

.main {
	flex: 1;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 0.7fr 1fr 2fr;
	gap: 12px;
	padding: 12px;
}

.card {
	background-color: var(--color-primary);
	border-radius: 16px;
	padding: 20px;
}

.smallBox {
	grid-column: 2 / 3;
}

@media (max-width: 1024px) {
	.main {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	.welcome {
		order: 1;
	}

	.contact {
		order: 2;
	}

	.calendar {
		order: 3;
	}

	.bigBox {
		order: 4;
	}

	.smallBox {
		order: 5;
	}

	.bigBox,
	.smallBox {
		min-height: 200px;
		width: 100%;
	}
}

@media (max-width: 768px) {
	body {
		flex-direction: column;
	}

	.main {
		padding: 10px;
		gap: 10px;
	}
}

