:root {
  --main-color: #646cff;
  --black-1: #242424;
  --black-2: #333;
  --black-3: #4d4d4d;
  --black-4: #5c5c5c;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--black-1);
  font-family: "Montserrat", sans-serif;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

aside{
  width: 7vw;
  height: 90vh;
  background-color: var(--main-color);
  border-radius: 15px;
  padding: 15px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.fa-solid{
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
}

aside ul{
  list-style: none;
}

aside ul li{
  margin: 20px 0;
  cursor: pointer;
}

aside ul li:hover .fa-solid{
  transform: scale(1.2);
  transition: 300ms;
}

main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  height: 90vh;
  background-color: #333;
  margin: 10px;
}

.menuPanel{
  width: 70%;
  height: 100%;
  background-color: #222222;
}

.goodMorningBox{
  width: 95%;
  height: 30%;
  position: relative;
  left: 50%;
  transform: translate( -50%);
  background-color: var(--main-color);
  border-radius: 30px;
}

.goodMorningBox img{
  width: 49%;
  position: absolute;
  right: 0;
  bottom: 0;
}

.goodMorningBox h1 {
  position: absolute;
  bottom: 50px;
  font-size: 2.5rem;
  margin: 0;
  padding-left: 15px;
}

.goodMorningBox p {
  position: absolute;
  bottom: 20px;
  font-size: 1.3rem;
  margin: 10px 0 0 0;
  padding-left: 15px;
}

.goodMorningBtns {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
  margin-left: 15px;
}

.goodMorningBtns .fa-solid {
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 300ms ease;
}

.goodMorningBtns .fa-bell {
  color: #ffffff;
  transition: transform 300ms ease;
}
.goodMorningBtns .fa-bell:hover {
  animation: bell-swing 0.6s ease-in-out;
}

.goodMorningBtns .fa-gear {
  color: #ffffff;
  transition: 1200ms;
}

.goodMorningBtns .fa-gear:hover {
  transform: rotate(180deg);
}

.currentDate{
  display: inline-block;
  border-radius: 10px;
  margin: 0 15px;
  padding: 10px 10px;
  background-color: rgba(171, 174, 255, 0.96);
}

.currentDate .fa-solid{
  margin: 0 5px 0 0 ;
  padding: 0;
  font-size: 1rem;
}

.patientSidebar{
  width: 30%;
  height: 100%;
  background-color: #2f2f2f;
}

footer{}




@keyframes bell-swing {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}