:root {
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Montserrat", sans-serif;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

aside{
  width: 7vw;
  height: 90vh;
  background-color: #646cff;
  border-radius: 15px;
  padding: 15px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

aside .fa-solid{
  font-size: 30px;
  padding: 10px;
}

aside ul{
  list-style: none;
}

aside ul li{
  margin: 20px 0;
  cursor: pointer;
}

aside ul li:hover .fa-solid{
  transform: scale(1.2);
  transition: 300ms;
}

main{
  width: 90vw;
  height: 90vh;
  background-color: #333;
  margin: 10px;

}

footer{}






button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}

