.bigBox {
	grid-column: 1 / 2;
}

.bigBox .showModalBtn {
	background-color: var(--color-light);
	border: none;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.bigBox .showModalBtn:hover {
	background-color: var(--color-primary-hover);
	color: white;
	transform: scale(1.1);
}

.sectionHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

.weeklyPlanContainer {
	max-height: 320px;
	overflow-y: auto;
	overflow-x: hidden;
}

.weeklyPlanContainer::-webkit-scrollbar {
	width: 8px;
}

.weeklyPlanContainer::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 4px;
}

.weeklyPlanContainer::-webkit-scrollbar-thumb {
	background: #c1c1c1;
	border-radius: 4px;
	cursor: pointer;
}

.weeklyPlanContainer::-webkit-scrollbar-thumb:hover {
	background: #a1a1a1;
}

.weeklyPlan {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	align-items: stretch;
	padding: 4px;
}

@media (max-width: 900px) {
	.weeklyPlan {
		grid-template-columns: repeat(2, 1fr);
	}

	.weeklyPlanContainer {
		max-height: 320px;
	}
}

@media (max-width: 600px) {
	.sectionTitle {
		font-size: 1.3rem;
	}
	.weeklyPlan {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 1024px) {
	.weeklyPlanContainer {
		max-height: none;
		overflow-y: visible;
	}
}
